*{
    font-family: sans-serif;
}

/*--------------------------- emailbox -------------------------*/
#div_email{
}

@keyframes archive{
    0%{
        opacity: 1;
        display: block;
        margin: 5px 0 0 0 ;
        border: solid 1px rgba(44, 44, 44, 0.514);
        padding: 15px;
        border-radius: 5px;
    }
    75%{
        opacity: 0;
        display: block;
        margin: 5px 0 0 0 ;
        border: solid 1px rgba(44, 44, 44, 0.514);
        padding: 15px;
        border-radius: 5px;
    }
    100%{
        opacity: 0;
        display: block;
        margin: 5px 0 0 0 ;
        border: solid 1px rgba(44, 44, 44, 0.514);
        padding: 0;
        border-radius: 5px;

    }

}

li{
    display: block;
    margin: 5px 0 0 0 ;
    border: solid 1px rgba(44, 44, 44, 0.514);
    padding: 15px;
    border-radius: 5px;
    animation-name: archive;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;

}
li:hover{
    box-shadow: 1px 1px 20px rgb(156, 156, 156);
    
}

.div_show_email{
    display: inline-block;


}



.div_sender{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 200px 0 0 ;
}

.div_subject{
    display: inline-block;
    font-size: 15px;
    width: 300px;

    
}

.div_timestamp{
    display: inline-block;

    font-size: 12px;

    
}

li button{
    display: inline;
    float: right;
    border: solid 1px #2c2c2c83;
    border-radius: 5px;

}



/*--------------------------- single page email -------------------------*/

.div_single_email{
    border: solid 1px black;
    padding: 20px;
}

span{
    font-weight: 700;
    font-size: 17px;
}

.singlepage_sender{
    display: block;


}
.singlepage_recipients{
    display: block;
    
}

.singlepage_subject{
    display: block;
}

.singlepage_body{
    display: block;
}

.singlepage_timestamp{

}

